@{
    ViewBag.Title = "Testing";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<h2>Software Testing and QA Automation</h2>

Innovative Services testing and QA automation services provide our customers with scalable application maintenance, outsourced testing and support that accelerate time-to-market, reduce the cost of support and maintenance and improve the performance and usability of enterprise systems and applications.<br />
<br />
<div class="innerSep"></div>
<ul class="testingFlagUl">
    <li class="testingLiHdr">With outsourcing solution centers in 2 countries, Innovative Services delivers benefits that free clients from the overhead of managing multiple vendors:</li>
    <li>Outsourcing teams based in Eastern Europe offer software testing and QA services of the internationally acknowledged standards</li>
    <li>Innovative Services team in Vietnam offers even more competitive price for outstanding quality</li>
    <li>The unique and original outsourcing model allows Innovative Services to manage complex projects across multiple time zones,     	languages and cultures to provide coordination and accountability within a robust governance framework</li>
</ul>
<br />
<div class="innerSep"></div>
<h3 class="h1Hdr">Our services include:</h3>
<ul class="testingLrIc">
    <li><span>Full Product Validation and Verification</span><br />
        Involves the production of test cases and test plans (Functional Testing, Performance Testing, User Acceptance Testing),         testing is carried out to make an informed assessment on the stability of application's features    </li>
    <li><span>Inspection of Code</span><br />
        Involves the use of automatic code inspection tools and scripts for detection of bug, inconsistencies and security weaknesses    </li>
    <li><span>Software Maintenance</span><br />
        Bug fixing, customer support, software upgrade and patching, etc.    </li>
    <li><span>Automation Test</span><br />
        Involves data-driven automated test scripts with the list of automated test tools (e.g. Quick Test Pro, Rational Robot , WinRunner, SILK, etc.)    </li>
</ul>
<br />
<h1 class="h1Hdr">Software Testing and QA Automation:</h1>
<ul class="testingSmIc floatLeft smbg1">
    <li>Unit Testing</li>
    <li>Integration Testing</li>
    <li>System Testing</li>
    <li>Load Testing</li>
</ul>
<ul class="testingSmIc floatLeft smbg2">
    <li>White Box &amp; Black Box Testing</li>
    <li>Acceptance Testing</li>
    <li>Automated Testing</li>
</ul>
<img class="floatRight tsBugs" alt="Software Testing" src="/assets/images/tsbugs.jpg" />