@{
    Layout = "~/Views/Shared/_NestedLayoutIndustries.cshtml";
}

<h2>Education</h2>

<img src="/assets/images/articles/1348501687.jpg" alt="Education" class="indentBottom50px" />

@section Overview {
    <h1 class="tabMobile">Education</h1>
    <br />
    Education is the core and essential element of any country that facilitates its economic growth and maintains intellectual development of its people. The 21st century is the time of information technology. In so doing, it's vitally important for every modern society to provide a stable bond between education and high-tech innovations.<br />
    <br />
    These days, both first-formers and high school students can't imagine their daily lives without computers, smartphones and other wireless smart devices. Due to the ongoing technological revolution, the learned use computers to chat with friends on social networks, type and send documents, search for necessary information and more.<br />
    <br />
    No wonder that modern students prefer to use their portable devices instead of hard copy textbooks and consult Google or Wikipedia on the go. At the same time, in this wireless and mobile era there are plenty of benefits for mentors as well. The world requires specialists who are able to succeed in a globally competitive world. That's why it's of great importance for every educational institution to move with the times and implement gadgets into training process.<br />
    <br />
    Dealing with educational institutions and business training centers, Innovative Services helps create innovative educational software solutions. Our specialists can provide effective software for the education industry that improves teaching, research and learning processes.
}

@section Services {
    Globalization and pervasive computerization require infusing IT solutions into teaching and learning in order to make these processes more productive. With the help of instantly accessible learning systems it's easier to enhance student achievements and teacher professionalism. Innovative Services is able to connect mentors, researches and learners at a rapid pace anytime, anywhere and on any wireless device.<br />
    <br />
    Below is the list of Innovative Services’s key software development services for the education industry:<br />
    <br />
    <ul class="listType2">
        <li>Custom Software Development           
            <ul>
                <li>- E-Learning Systems</li>
                <li>- ERP Systems</li>
                <li>- Research Data Management Systems</li>
                <li>- Digital Library Software</li>
            </ul>
        </li>
        <li>Web Development           
            <ul>
                <li>Websites</li>
                <li>Corporate Portals</li>
                <li>CMS Systems</li>
                <li>Mobile-Optimized Websites</li>
            </ul>
        </li>
        <li>Mobile Application Development           
            <ul>
                <li>iOS Apps (iPhone and iPad)</li>
                <li>Android Apps</li>
                <li>Augmented Reality Apps</li>
            </ul>
        </li>
        <li>Gamification Solutions</li>
    </ul>
    <br />
    To learn more about how Innovative Services can help your healthcare business grow, please <a href="contact.html">contact us</a>.
}

@section CaseStudies {
    <div id="case-study-list" class="list-view">
        <div class="summary"></div>
        <ul class="tabCase">
            <li>
                <img class="floatLeft" width="82" height="130" src="/assets/images/articles/successplthumb.jpg" alt="" />
                <div>
                    <a href="successplanner-casestudy.html">SUCCESSplaner Case Study        </a>
                    <br />
                    <br />
                    SUCCESSplanner is an application that encourages users to archive their goals and dreams effectively and shortly. The application provides users with rich intuitive functionality and attractive design.       
                    <div>
                        Industry : <span>Education</span><br />
                    </div>
                </div>
            </li>


        </ul>
        <div class="clear"></div>
        <div class="keys" style="display: none" title="/education-industry"><span>152</span></div>
    </div>
}

@section Why {
    By developing solutions for educational institutions, Innovative Services helps them take advantage of advanced technologies and innovations. With a proven track record in software, mobile, web and game development, our specialists are ready to provide learners with increased access to training and thereby reinforce educational outcomes. Through our software development and IT consulting services, we help educational institutions:<br />
    <br />
    <ul class="listType1">
        <li>Improve the learning process</li>
        <li>Enhance student experience</li>
        <li>Make knowledge and information more accessible</li>
        <li>Foster collaboration between students and teachers</li>
        <li>Take advantage of E-learning systems</li>
    </ul>
}

@section Research {
    <div id="research-trends-list" class="list-view">
        <div class="tabCase">
            <span class="empty">No results found.</span>
        </div>
        <div class="clear"></div>
        <div class="keys" style="display: none" title="/education-industry"></div>
    </div>
}