@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<h2>Company Overview </h2>

<img id="printLogoTop" src="/assets/images/printlogo.jpg" alt="" /><table class="coTable   ">
    <tbody>
        <tr>
            <td class="coTableLeft"><span>Company Name</span><br />
                Innovative Services, Inc.            
                <br />
                <br />
                @*<img alt="" src="/assets/images/elinextprint.jpg" /><br />*@
                @*<br />*@
                <span class="coNoTransform">Innovative Services is an alliance of custom software development companies working to deliver software solutions and consulting services to businesses worldwide.</span><br />
                <br />
                <span>Date Founded</span><br />
                2010 – Privately Held<br />
                <br />
                @*<span>Company Group Members</span><br />
                Elitrans Ltd.
                <br />
                Elilink Consulting Ltd.<br />
                Eligraphics Studio<br />
                Eligame Studio<br />
                Elisoft Ltd.<br />
                <br />*@
                @*<span>Sales Distribution</span><br />
                55% North America<br />
                30% Europe<br />
                15% Rest of the World (RoW)<br />
                (RoW: Russia, CALA, MEA, Asia &amp; Pacific region)<br />
                <br />*@
                <span>Headquarter</span><br />
                20-30 Kiseleva st.<br />
                Minsk, Belarus 220000<br />
                <br />
                <span>Employee Count</span><br />
                9 (as of November 1, 2012)<br />
                <br />
                @*<span>Attrition Rate</span><br />
                Less than 9% (FY 2011)*@</td>
            <td class="coTableRight"><span>Main Business Activities</span><br />
                @*Mobile Applications<br />*@
                Web Solutions<br />
                @*Cloud Computing and SaaS Applications<br />
                Smart TV Applications<br />
                IT Infrastructure Management<br />*@
                Dedicated R&amp;D<br />
                @*Gamification and Game development<br />*@
                <br />
                <span>Technologies</span><br />
                .NET, Microsoft SharePoint<br />
                C#, @*C++, Java, PHP, *@HTML5<br />
                Oracle, MS SQL, MySQL, DB2<br />
                Windows@*, Solaris, Linux<br />*@
                @*iOS, Android, BlackBerry, WP7<br />
                Force.com, Microsoft Azure, Google Apps, Amazon<br />
                Adobe Flash, Flex<br />
                3DS MAX, Maya, Photoshop<br />
                Unity 3D , Cocos2D, OpenCV, Vuforia<br />*@
                <br />
                <span>Industries</span><br />
                Travel &amp; Hospitability<br />
                Telecom &amp; Communications<br />
                Financial services, Banking, &amp; Insurance<br />
                Electronic Manufacturing<br />
                Media &amp; Advertising<br />
                Healthcare<br />
                Media &amp; Advertising<br />
                Real Estate<br />
                Entertainment<br />
                <br />
                <span>Customers and partners</span><br />
                @*Adsovo<br />
                Avnex<br />
                CA Technologies<br />
                Camstar<br />
                Translations.com<br />
                Tuttidare*@
            </td>
        </tr>
    </tbody>
</table>
<table class="coLogo   ">
    <tbody>
        <tr>
            <td>
                <img id="printlogo" src="/assets/images/printlogo.jpg" alt="" /><div class="coLogoBlock">
                    <div class="floatLeft coLabel"><strong>Innovative Services</strong></div>
                    <div class="floatRight coPhone">
                        <strong>phone: +375-29-631-0711</strong><br />
                        email: sales@innovative.by<br />
                        info@innovative.by               
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="coCols">
    <div class="floatLeft coColumnLeft">
        <span>Company Name</span><br />
        Innovative Services, Inc.
        <img alt="" src="/assets/images/building.jpg" /><br />
        <span class="coNoTransform">Innovative Services is an alliance of custom software development companies working to deliver software solutions and consulting services to businesses worldwide.</span>
    </div>
    <div class="floatRight coColumnRight">@*<span>Company Group Members</span><br />
        Elitrans Ltd.
        <br />
        Elilink Consulting Ltd.<br />
        Eligraphics Studio<br />
        Eligame Studio<br />
        Elisoft Ltd.<br />
        <br />*@
        <span>Technologies</span><br />
        .NET, Microsoft SharePoint<br />
        C#, HTML5<br />
        Oracle, MS SQL, MySQL, DB2<br />
        Windows<br />
        <br />
        <span>Industries</span><br />
        Travel &amp; Hospitability<br />
        Telecom &amp; Communications<br />
        Financial services, Banking, &amp; Insurance<br />
        Electronic Manufacturing<br />
        Media &amp; Advertising<br />
        Healthcare<br />
        Media &amp; Advertising<br />
        Real Estate<br />
        Entertainment<br />
    </div>
    <div class="coColumnCenter">
        <span>Date Founded</span><br />
        2010 – Privately Held<br />
        <br />
        @*<span>Sales Distribution</span><br />
        55% North America<br />
        30% Europe<br />
        15% Rest of the World (RoW)<br />
        (RoW: Russia, CALA, MEA, Asia &amp; Pacific region)<br />
        <br />*@
        <span>Headquarter</span><br />
        20-30 Kiseleva st.<br />
        Minsk, Belarus 220000<br />
        <br />
        <span>Employee Count</span><br />
        9 (as of November 1, 2012)<br />
        <br />
        <span>Main Business Activities</span><br />
        @*Mobile Applications<br />*@
        Win & Web Solutions<br />
        @*Cloud Computing and SaaS Applications<br />
        Smart TV Applications<br />
        IT Infrastructure Management<br />*@
        Dedicated R&amp;D<br />
        @*Gamification and Game development<br />*@
        <br />
        <span>Attrition Rate</span><br />
        Less than 9% (FY 2011)    
    </div>
</div>
